@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* Copy this code after the above code */
/* Copy this code after the above code */
@keyframes customAni {
  0% {
	animation-timing-function: ease-in;
	opacity: 0;
	transform: translateY(-45px);
  }

  24% {
	opacity: 1;
  }
 /*
  40% {
	animation-timing-function: ease-in;
	transform: translateY(-24px);
  }

  65% {
	animation-timing-function: ease-in;
	transform: translateY(-12px);
  }

  82% {
	animation-timing-function: ease-in;
	transform: translateY(-6px);
  }

  93% {
	animation-timing-function: ease-in;
	transform: translateY(-4px);
  } */
/*
  25%,
  55%,
  75%,
  87% {
	animation-timing-function: ease-out;
	transform: translateY(0px);
  } */

  100% {
	animation-timing-function: ease-out;
	opacity: 1;
	transform: translateY(0px);
  }
}
